node_modules/
yarn.lock
yarn-error.log
lerna-debug.log
.temp/
.rn_temp/
.DS_Store
.TemporaryItems
.DocumentRevisions-V100
.Spotlight-V100/
/template/mobile
/template/admin
/data/
.Trashes/
.fseventsd/
/back
/attachment

demo1/
/config/
