.ims-info {
  .footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    text-align: center;
  }

  .detail {
    background-color: #fff;
    padding: 10px 20px;
    height: 350px;
    overflow: auto;
    max-width: 800px;
  }
  .date {
    text-align: center;
  }
}
