Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open '/usr/loca  l/lib/node_modules/ims-cli/node_modules/_lodash@4.17.11@lodash/lodash.js':
  Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/im  s-cli/node_modules/_lodash@4.17.11@lodash/lodash.js'
  
  - compiler.js:79 childCompiler.runAsChild
    [lib]/[ims-cli]/[_html-webpack-plugin@3.2.0@html-webpack-plugin]/lib/compile    r.js:79:16
  
  - Compiler.js:306 compile
    [lib]/[ims-cli]/[_webpack@4.30.0@webpack]/lib/Compiler.js:306:11
  
  - Compiler.js:631 hooks.afterCompile.callAsync.err
    [lib]/[ims-cli]/[_webpack@4.30.0@webpack]/lib/Compiler.js:631:15
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lib]/[ims-cli]/[_tapable@1.1.3@tapable]/lib/Hook.js:154:20
  
  - Compiler.js:628 compilation.seal.err
    [lib]/[ims-cli]/[_webpack@4.30.0@webpack]/lib/Compiler.js:628:31
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lib]/[ims-cli]/[_tapable@1.1.3@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1329 hooks.optimizeAssets.callAsync.err
    [lib]/[ims-cli]/[_webpack@4.30.0@webpack]/lib/Compilation.js:1329:35
  
  
</pre><script type="text/javascript" src="/mobile/manifest_ee9216db8fab7295960c.bound.js"></script><script type="text/javascript" src="/mobile/app_ee9216db8fab7295960c.chunk.js"></script>