<!DOCTYPE html>
<html style="font-size: 20px;">

<head>
    <meta charset="UTF-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,address=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>欢迎使用IMS应用框架</title>
    <script src="/library/polyfill.dll.js"></script>
    <script src="/library/react.dll.js"></script>
    <script src="/library/core.dll.js"></script>
</head>

<body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
<script type="text/javascript" src="/mobile/manifest_be5a74bf25100d36fc52.bound.js"></script><script type="text/javascript" src="/mobile/app_be5a74bf25100d36fc52.chunk.js"></script></body>

</html>